{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Cinema</title>
{% endblock %}
{% block content %}

    <div id="cinemahalls">
        <div class="halls_avatars">
            <a href="{% url 'red_hall' %}" class="text-center">
                <div style="width: 320px; height: 320px; background-color:crimson ">Red hall</div>
            </a>
        </div>
        <div class="halls_avatars">
            <a href="{% url 'blue_hall' %}" class="text-center">
                <div style="width: 320px; height: 320px; background-color:darkblue ">Blue hall</div>
            </a>
        </div>
        <div class="halls_avatars">
            <a href="{% url 'black_hall' %}" class="text-center">
                <div style="width: 320px; height: 320px; background-color:black "> Black hall</div>
            </a>
        </div>
    </div>
{% endblock %}
